@import "tailwindcss";

@theme {
  --font-nunito: 'Nunito', sans-serif;
  
  /* Animal Crossing Palette */
  --color-nook-green: #78b159;
  --color-nook-dark-green: #558c3f;
  --color-nook-yellow: #fdcb58;
  --color-nook-brown: #594a42;
  --color-nook-light-brown: #8e8070;
  --color-nook-blue: #54a0ff;
  --color-nook-red: #ff6b6b;
  --color-nook-bg: #fcfcf7;
  --color-nook-paper: #fffdf5;
}

body {
  font-family: var(--font-nunito);
  background-color: var(--color-nook-bg);
  color: var(--color-nook-brown);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(142, 128, 112, 0.2);
  border-radius: 99px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(142, 128, 112, 0.4);
}

/* HIDE NUMBER INPUT SPINNERS (The "Scroll Bar") */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}